<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnG_z3fl3EnMMth0qYs_NIT4UVi7yM5vY</string>
	<key>GCM_SENDER_ID</key>
	<string>678455222267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yhg.ios-termproject-2071145</string>
	<key>PROJECT_ID</key>
	<string>iostermproject-a4beb</string>
	<key>STORAGE_BUCKET</key>
	<string>iostermproject-a4beb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678455222267:ios:a21a7c172dbd8b4bee755e</string>
</dict>
</plist>